* {
    box-sizing:border-box;
    margin: 0 auto;
    
}

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

img {
    width: 1000px;
    height: 500px;
}

.hero {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

button {
    padding: 20px;
    border: none;
    background: red;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 45%;
}

.next {
    transition: 0.6s ease;
    cursor: pointer;
    border-radius: 10px 0px 0px 10px;
    margin-left: 935px;
}

.prev {
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;


}
.box {
    height: 2000px;
    width: 500px;
    background-color: red; 
}
